<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Pagina de mercado libre trucha</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/styled.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

  </head>
<main>
  <body >
    <div class="Superior">
    <div>
      <div class="titulares">
      <p><img class="logo" src="./images/logo-mercado-liebre.svg"></p>
      <p class="compraCuotas"><i class="fa-sharp fa-solid fa-hand-holding-dollar"></i>compra en cuotas y sin tarjeta de credito</p>
      </div>

<p class="barraBusqueda">lugar en donde poner la barrita de busqueda<p>
  <div class="burger">
    <i class="fas fa-bars"></i>
  </div>
  
  <div class="palabras">
    <ul>
      <li>Ofertas</li>
      <li>Tiendas Oficilaes</li>
      <li>Vender</li>
      <li>Ayuda</li>
    </ul>
    <ul>
      <li>Crea tu cuenta <i class="fa-regular fa-address-card"></i></li>
      <li>Ingresa</li>
      <li>Mis compras <i class="fa-sharp fa-solid fa-basket-shopping"></i></li>
    </ul>
  </div>  
</div>
</div>

</form>
<div class="Productos">
  <img class="anuncio" src="./images/anuncio.png">

 <h1 class="titulos">Seccion:basada en tu ultima visita</h1>

 <div class="UnObjeto">
  <div class="Texto_imagen">
    <img class="img" src="./images/img-cafetera-moulinex.jpg">
    <po><p0><i class="fa-solid fa-truck"></i></p0></po>
    <pa>
      <p1>$6.770</p1>
      <p2>40% OFF</p2>
    </pa>
    <p3>Cafetera Moulinex</p3>
    </div>
    
    <div class="Texto_imagen">
    <img class="img" src="./images/img-macbook-pro-2019.jpg">
    <po><p0><i class="fa-solid fa-truck"></i></p0></po>
    <pa>
      <p1>$230.000</p1>
      <p2>20% off</p2>
    </pa>
    <p3>MacBook Pro 2019</p3> 
    </div>
    
    <div class="Texto_imagen">
    <img class="img" src="./images/img-samsung-galaxy-s10.jpg">
    <po><p0><i class="fa-solid fa-truck"></i></p0></po>
    <pa>
      <p1>$70.500</p1>
    <p2>10% off</p2>
    </pa>
    
    <p3>Samsung Galaxy S10</p> 
    </div>
    
    <div class="Texto_imagen">
    <img class="img" src="./images/img-tv-samsung-smart.jpg">
    <po><p0><i class="fa-solid fa-truck"></i></p0></po>
    <pa>
      <p1>$23.200</p1>
      <p2>5% off</p2>
    </pa>
    <p3>SmartTv Samsung 43"</p3>
    </div>
    
</div>

<div class="DosObjetos">

  <div class="Texto_imagen">
    <img class="img" src="./images/img-cafetera-moulinex.jpg">
    <po><p0><i class="fa-solid fa-truck"></i></p0></po>
    <pa>
      <p1>$6.770</p1>
      <p2>40% OFF</p2>
    </pa>
    <p3>Cafetera Moulinex</p3>
  </div>

  <div class="Texto_imagen">
    <img class="img" src="./images/img-macbook-pro-2019.jpg">
    <po><p0><i class="fa-solid fa-truck"></i></p0></po>
    <pa>
      <p1>$230.000</p1>
      <p2>20% off</p2>
    </pa>
    <p3>MacBook Pro 2019</p3> 
  </div>
</div>

<div class="DosObjetos">
<div class="Texto_imagen">
    <img class="img" src="./images/img-samsung-galaxy-s10.jpg">
    <po><p0><i class="fa-solid fa-truck"></i></p0></po>
    <pa>
      <p1>$70.500</p1>
      <p2>10% off</p2>
    </pa>
    <p3>Samsung Galaxy S10</p> 
  </div>

  <div class="Texto_imagen">
    <img class="img" src="./images/img-tv-samsung-smart.jpg">
    <po><p0><i class="fa-solid fa-truck"></i></p0></po>
    <pa>
      <p1>$23.200</p1>
      <p2>5% off</p2>
    </pa>
    <p3>SmartTv Samsung 43"</p3>
  </div>
</div>

<div class="CuatroObjetos">

  <div class="Texto_imagen">
    <img class="img" src="./images/img-cafetera-moulinex.jpg">
    <po><p0><i class="fa-solid fa-truck"></i></p0></po>
    <pa>
      <p1>$6.770</p1>
      <p2>40% OFF</p2>
    </pa>
    <p3>Cafetera Moulinex</p3>
  </div>

  <div class="Texto_imagen">
    <img class="img" src="./images/img-macbook-pro-2019.jpg">
    <po><p0><i class="fa-solid fa-truck"></i></p0></po>
    <pa>
      <p1>$230.000</p1>
      <p2>20% off</p2>
    </pa>
    <p3>MacBook Pro 2019</p3> 
  </div>
  
  <div class="Texto_imagen">
    <img class="img" src="./images/img-samsung-galaxy-s10.jpg">
    <po><p0><i class="fa-solid fa-truck"></i></p0></po>
    <pa>
      <p1>$70.500</p1>
      <p2>10% off</p2>
    </pa>
    <p3>Samsung Galaxy S10</p> 
  </div>

  <div class="Texto_imagen">
    <img class="img" src="./images/img-tv-samsung-smart.jpg">
    <po><p0><i class="fa-solid fa-truck"></i></p0></po>
    <pa>
      <p1>$23.200</p1>
      <p2>5% off</p2>
    </pa>
    <p3>SmartTv Samsung 43"</p3>
  </div>
</div>

 <h1 class="titulos">Sección de Ofertas</h1>

<div class="UnObjeto">
  <div class="Texto_imagen">
    <img class="img" src="./images/img-cafetera-moulinex.jpg">
    <po><p0><i class="fa-solid fa-truck"></i></p0></po>
    <pa>
      <p1>$6.770</p1>
      <p2>40% OFF</p2>
    </pa>
    <p3>Cafetera Moulinex</p3>
    </div>
    
    <div class="Texto_imagen">
    <img class="img" src="./images/img-macbook-pro-2019.jpg">
    <po><p0><i class="fa-solid fa-truck"></i></p0></po>
    <pa>
      <p1>$230.000</p1>
      <p2>20% off</p2>
    </pa>
    <p3>MacBook Pro 2019</p3> 
    </div>
    
    <div class="Texto_imagen">
    <img class="img" src="./images/img-samsung-galaxy-s10.jpg">
    <po><p0><i class="fa-solid fa-truck"></i></p0></po>
    <pa>
      <p1>$70.500</p1>
    <p2>10% off</p2>
    </pa>
    
    <p3>Samsung Galaxy S10</p> 
    </div>
    
    <div class="Texto_imagen">
    <img class="img" src="./images/img-tv-samsung-smart.jpg">
    <po><p0><i class="fa-solid fa-truck"></i></p0></po>
    <pa>
      <p1>$23.200</p1>
      <p2>5% off</p2>
    </pa>
    <p3>SmartTv Samsung 43"</p3>
    </div>
    
</div>

<div class="DosObjetos">

  <div class="Texto_imagen">
    <img class="img" src="./images/img-cafetera-moulinex.jpg">
    <po><p0><i class="fa-solid fa-truck"></i></p0></po>
    <pa>
      <p1>$6.770</p1>
      <p2>40% OFF</p2>
    </pa>
    <p3>Cafetera Moulinex</p3>
  </div>

  <div class="Texto_imagen">
    <img class="img" src="./images/img-macbook-pro-2019.jpg">
    <po><p0><i class="fa-solid fa-truck"></i></p0></po>
    <pa>
      <p1>$230.000</p1>
      <p2>20% off</p2>
    </pa>
    <p3>MacBook Pro 2019</p3> 
  </div>
</div>

<div class="DosObjetos">
<div class="Texto_imagen">
    <img class="img" src="./images/img-samsung-galaxy-s10.jpg">
    <po><p0><i class="fa-solid fa-truck"></i></p0></po>
    <pa>
      <p1>$70.500</p1>
      <p2>10% off</p2>
    </pa>
    <p3>Samsung Galaxy S10</p> 
  </div>

  <div class="Texto_imagen">
    <img class="img" src="./images/img-tv-samsung-smart.jpg">
    <po><p0><i class="fa-solid fa-truck"></i></p0></po>
    <pa>
      <p1>$23.200</p1>
      <p2>5% off</p2>
    </pa>
    <p3>SmartTv Samsung 43"</p3>
  </div>
</div>


<div class="CuatroObjetos">

  <div class="Texto_imagen">
    <img class="img" src="./images/img-cafetera-moulinex.jpg">
    <po><p0><i class="fa-solid fa-truck"></i></p0></po>
    <pa>
      <p1>$6.770</p1>
      <p2>40% OFF</p2>
    </pa>
    <p3>Cafetera Moulinex</p3>
  </div>

  <div class="Texto_imagen">
    <img class="img" src="./images/img-macbook-pro-2019.jpg">
    <po><p0><i class="fa-solid fa-truck"></i></p0></po>
    <pa>
      <p1>$230.000</p1>
      <p2>20% off</p2>
    </pa>
    <p3>MacBook Pro 2019</p3> 
  </div>
  
  <div class="Texto_imagen">
    <img class="img" src="./images/img-samsung-galaxy-s10.jpg">
    <po><p0><i class="fa-solid fa-truck"></i></p0></po>
    <pa>
      <p1>$70.500</p1>
      <p2>10% off</p2>
    </pa>
    <p3>Samsung Galaxy S10</p> 
  </div>

  <div class="Texto_imagen">
    <img class="img" src="./images/img-tv-samsung-smart.jpg">
    <po><p0><i class="fa-solid fa-truck"></i></p0></po>
    <pa>
      <p1>$23.200</p1>
      <p2>5% off</p2>
    </pa>
    <p3>SmartTv Samsung 43"</p3>
  </div>
</div>
</div>
<h5>Tendrá las siguientes secciones:</h5>
<div class="textoCentrado">
  
    <p class="iconos"><i class="fa-solid fa-credit-card"></i></p></i>
  <p>Pagá con tarjeta o en efectivo</p>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
 

  <p class="iconos"><i class="fa-solid fa-gift"></i></p>
    <p>Envío gratis desde $ 2.500</p>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    

   
    <p class="iconos"><i class="fa-solid fa-user-shield"></i></p>
        <p>Seguridad, de principio a fin</p>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
   </div>
        <div class="textoCentradoDos">
          <div class="info">
            <p class="iconos"><i class="fa-solid fa-credit-card"></i></p></i>
          <p>Pagá con tarjeta o en efectivo</p>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
          </div>
        <div class="info">
          <p class="iconos"><i class="fa-solid fa-gift"></i></p>
            <p>Envío gratis desde $ 2.500</p>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            
        </div>
           <div class="info">
            <p class="iconos"><i class="fa-solid fa-user-shield"></i></p>
                <p>Seguridad, de principio a fin</p>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
           </div> 
                
    
        </div>

<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
   </ul>
  </body>
</html>

</main>
  